@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}
	body {
		@apply bg-slate-800;
	}
	header {
		@apply bg-slate-900 flex flex-row justify-between items-center;
	}
	nav {
		@apply flex flex-row gap-3 px-1.5 justify-between items-center;
	}
	p {
		@apply text-slate-200 text-base;
		font-family: "Inter", sans-serif;
	}
	section {
		@apply mb-16;
	}
	footer {
		@apply bg-slate-900;
	}
	.section-intro {
		@apply bg-[url('../images/backgrounds/background_1.jpg')] bg-cover bg-center 
		flex flex-col gap-12;
	}
	.wiki-style h1 {
		@apply text-white text-4xl font-bold mt-6 mb-4;
		font-family: "Bebas Neue", cursive;
	}
	.wiki-style h2 {
		@apply text-white text-3xl font-semibold mt-4 mb-2;
		font-family: "Bebas Neue", cursive;
	}
	.wiki-style h3 {
		@apply text-white text-2xl font-semibold mt-4 mb-2;
		font-family: "Bebas Neue", cursive;
	}
	.wiki-style p {
		@apply text-slate-300 mb-2;
		font-family: "Inter", sans-serif;
	}

	.wiki-style li {
		@apply flex flex-row items-center text-slate-300 list-none ml-0.5 my-2;
		font-family: "Inter", sans-serif;
	}
}

@layer utilities {
	.section-spacing {
		@apply px-4 py-1.5;
	}
	.logo {
		@apply w-12 h-12 px-1.5 py-1;
	}
	.section-title {
		@apply text-white text-4xl pt-1 py-4 flex flex-row justify-center;
		font-family: "Bebas Neue", cursive;
	}
	.section-intro-subtitle {
		@apply text-white text-sm text-shadow-sm;
		font-family: "Poppins", sans-serif;
	}
	.section-intro-title {
		@apply text-white text-4xl text-shadow-lg/30;
		font-family: "Bebas Neue", cursive;
	}
	.btn-left {
		@apply ms-2 me-0;
	}
	.btn-right {
		@apply me-2 ms-0;
	}
}

@layer components {
	/*breadcrumb*/
	.breadcrumb {
		@apply flex text-slate-500 mt-1;
	}
	.breadcrumb ol {
		@apply inline-flex items-center space-x-1;
	}
	.breadcrumb li {
		@apply inline-flex items-center;
	}
	.breadcrumb a {
		@apply gap-1 inline-flex items-center;
	}
	.breadcrumb p {
		@apply text-sm text-slate-500;
	}
	.breadcrumb svg {
		@apply w-6 h-6;
	}
	/*List Items */
	.li-icon {
		@apply text-rose-600 w-10 h-10 me-1 flex-shrink-0;
	}

	/* GALLERY IMAGES */
	.gallery-container {
		@apply grid grid-cols-2 gap-2;
	}
	.gallery-items {
		@apply grid gap-2;
	}
	.gallery-items img {
		@apply h-auto max-w-full rounded-lg;
	}
	/*WIKI IMAGES*/
	.wiki-images {
		@apply mb-2 align-middle justify-center items-center grid grid-cols-3 grid-rows-1 gap-1;
	}
	.wiki-images img {
		@apply h-28 max-w-full rounded-lg;
	}

	/*BADGE HELP*/
	.badge-help {
		@apply flex flex-row text-slate-500 gap-3;
	}
	.badge-help svg {
		@apply w-5 h-5 transition-all duration-200;
	}
	.badge-help h6 {
		@apply text-sm font-medium;
		font-family: "Inter", sans-serif;
	}

	/* BOTÕES */
	.btn {
		@apply text-white bg-rose-600 font-medium rounded-full text-sm 
			px-5 py-2 text-center inline-flex items-center shadow-md justify-between
			transition-all duration-200 ease-in-out cursor-pointer;
		font-family: "Inter", sans-serif;
	}
	.btn svg {
		@apply w-6 h-6 transition-all duration-200 group-hover:translate-x-1;
	}
	.btn:focus {
		@apply outline-none ring-1 ring-rose-400 ring-offset-1;
	}
	.btn:hover {
		@apply bg-rose-700 shadow-lg scale-105;
	}
	.btn:disabled {
		@apply opacity-50 cursor-not-allowed;
	}
	.btn-outline {
		@apply text-rose-600 border-2 border-rose-600 bg-none 
			font-semibold rounded-full text-sm px-5 py-2 text-center 
			inline-flex items-center shadow-md justify-between
			transition-all duration-200 ease-in-out cursor-pointer;
		font-family: "Inter", sans-serif;
	}
	.btn-outline svg {
		@apply w-6 h-6 transition-all duration-200 group-hover:translate-x-1;
	}
	.btn-outline:focus {
		@apply outline-none ring-1 ring-rose-400 ring-offset-1;
	}
	.btn-outline:hover {
		@apply text-white bg-rose-600 shadow-lg scale-105;
	}
	.btn-outline:disabled {
		@apply opacity-50 cursor-not-allowed;
	}
	.btn-nav {
		@apply text-white font-medium text-sm 
			text-center inline-flex items-center
			transition-all duration-200 ease-in-out cursor-pointer;
		font-family: "Inter", sans-serif;
	}

	/* CARDS */
	.section-card-intro {
		@apply bg-slate-900/50 shadow-md rounded-xl p-3 gap-3 flex flex-row items-start w-11/12;
	}
	.section-card-intro svg {
		@apply text-white w-6 h-6 mt-0.5;
	}
	.section-card-intro p {
		@apply leading-normal;
	}

	.card {
		@apply bg-slate-900/50 rounded-xl p-3 flex flex-col transition-all duration-300 ease-in-out shadow-md;
	}
	.card-2 {
		@apply bg-slate-900/50 rounded-xl flex flex-col transition-all duration-300 ease-in-out shadow-md;
	}

	.card:hover,
	.card:focus,
	.card-2:hover,
	.card-2:focus {
		@apply shadow-lg ring-2 ring-rose-600 bg-slate-900/20;
	}

	.card svg {
		@apply w-6 h-6 text-white transition-all duration-200;
	}
	.card:hover svg,
	.card:focus svg {
		@apply text-rose-600 text-shadow-md;
	}
	.card div {
		@apply flex flex-row gap-3 items-center;
	}
	.card-2 div {
		@apply p-3 flex flex-col;
	}
	.card p,
	.card-2 p {
		@apply mt-2 leading-normal;
	}
	.card h4,
	.card-2 h4 {
		@apply text-white text-2xl font-semibold leading-snug transition-all duration-200;
		font-family: "Inter", sans-serif;
	}
	.card:hover h4,
	.card:focus h4,
	.card-2:hover h4,
	.card-2:focus h4 {
		@apply text-rose-600;
	}
	.card-container {
		@apply flex flex-col gap-4;
	}

	.card-2 img {
		@apply h-64 w-full rounded-t-xl object-cover;
	}
	.card-2 video {
		@apply aspect-video rounded-t-xl object-cover cursor-pointer;
	}

	/*SCROLL CAROUSEL*/
	.scroll-container {
		@apply overflow-x-auto overflow-y-hidden flex flex-nowrap gap-4 pb-4 pt-2 px-4 outline-none cursor-grab;
	}
	.scroll-container.cursor-grabbing {
		cursor: grabbing;
	}
	.scroll-card {
		@apply relative flex flex-col items-center justify-end h-64 w-64 rounded-xl object-cover flex-shrink-0 transition-all duration-300 ease-in-out;
	}
	.scroll-card h5 {
		@apply text-white shadow-md text-center pb-6 text-2xl font-semibold leading-snug;
		font-family: "Inter", sans-serif;
	}
	.scroll-card:hover {
		@apply scale-100 shadow-md -translate-y-1;
	}
	.scroll-card::before {
		content: "";
		@apply absolute inset-0 rounded-xl bg-gradient-to-t from-slate-900/90 to-transparent;
	}
	.scroll-card > * {
		@apply relative z-10;
	}
}
